@charset "UTF-8";

body {
    background-color: rgba(173, 192, 194, 0.349);
}

h1 {
    background-color: rgba(50, 68, 109, 0.5);
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    text-align: center;
    border-radius: 15px;
    width: 1100px;
    height: 100px;
    color: white;
    margin: auto;
    padding: 25px;
}

main {
    background-color: rgba(100, 112, 134, 0.144);
    width: 1100px;
    height: 500px;
    margin: auto;
    border-radius: 20px;


}


nav > a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    margin: 5px;
    width: 35px;
    height: 90px;
    background-color: rgba(50, 68, 109, 0.247);
    border-radius: 15px;
    padding: 15px;
    text-decoration: none;
}
nav {
    margin: 20px;
    text-align: center;
   
}
nav a:hover {
    background-color: rgb(50, 68, 109);
    color: white;
   
    transition: 0.1s;
}

footer {
    background-color: black;
    margin: 0px;
    height: 22px;
    text-align: center;
    color: white;
    

}